## Zadanie - Regresja liniowa:
W załączniku znajduje się plik z wynikami badań koniunktury Komisji Europejskiej prowadzonymi miesięcznie od 1985 r. Będziemy starali się wybrać odpowiednie serie danych oraz zbudować z nich prostą regresję liniową.

### Polecenie 1:
Wczytaj do Colab plik *industry_total_sa_nace2.xlsx*, wysłany mailem.

Następnie Pobierz dane z Excela do ramki Pandas.

*   Interesuje Cię karta *Industry Monthly*
*   W pierwszej kolumnie znajdują się daty, które chcemy uznać za indeks dla ramki.

Blok kodu poniżej wygeneruje scieżkę od Excela w pakiecie Colab:

In [ ]:
import os
filePath = os.getcwd() + "/industry_total_sa_nace2.xlsx"

W tym bloku użyj odpowienich parametrów, aby wczytać właściwe dane. Pomoże funkcja [read_excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)

In [ ]:
import pandas as pd

confidence = pd.read_excel(filePath,
                           sheet_name= "INDUSTRY MONTHLY",
                           index_col = 0)

### Polecenie 2:
Z ramki wybierz tylko te dane, które zawierają wyniki badania koniunktury po 2010 r.

In [ ]:
confidence_filter = confidence[confidence.index >= '2010-01-01']
confidence_filter.head(5)

,Unnamed: 1,INDU.EU.TOT.COF.BS.M,INDU.EU.TOT.1.BS.M,INDU.EU.TOT.2.BS.M,INDU.EU.TOT.3.BS.M,INDU.EU.TOT.4.BS.M,INDU.EU.TOT.5.BS.M,INDU.EU.TOT.6.BS.M,INDU.EU.TOT.7.BS.M,Unnamed: 10,...,INDU.RS.TOT.7.BS.M,Unnamed: 307,INDU.TR.TOT.COF.BS.M,INDU.TR.TOT.1.BS.M,INDU.TR.TOT.2.BS.M,INDU.TR.TOT.3.BS.M,INDU.TR.TOT.4.BS.M,INDU.TR.TOT.5.BS.M,INDU.TR.TOT.6.BS.M,INDU.TR.TOT.7.BS.M
2010-01-31,NaN,-12.9,-3.4,-41.6,-41.4,4.3,7.2,-4.5,-16.1,NaN,...,NaN,NaN,0.0,1.6,-36.5,-35.8,-11.4,25.1,22.5,2.5
2010-02-28,NaN,-11.5,-1.9,-38.6,-38.5,3.4,7.6,-3.1,-14.2,NaN,...,NaN,NaN,-3.6,13.0,-34.5,-36.2,2.5,26.1,27.7,4.9
2010-03-31,NaN,-8.8,1.3,-35.4,-34.7,1.7,10.7,-1.1,-12.7,NaN,...,NaN,NaN,-1.3,8.9,-31.4,-30.6,-3.3,24.1,31.2,5.0
2010-04-30,NaN,-6.7,8.7,-30.4,-29.8,2.0,12.2,4.8,-9.7,NaN,...,NaN,NaN,3.1,32.7,-18.1,-20.1,1.4,29.0,29.2,9.4
2010-05-31,NaN,-5.4,9.5,-26.5,-26.3,2.0,12.2,7.9,-8.0,NaN,...,NaN,NaN,-1.8,28.1,-22.1,-21.9,3.1,19.9,20.0,7.7

### Polecenie 3:
Na podstawie tych danych stworzymy 2 ramki, które zawierać będa odpowiedzi na pojedyncze pytania w różnych krajach. Będą to kolejno:

1. Pierwsza - pytania o bieżącą aktywność firmy. Takie dane zawierają w nazwie sekwencję: 'TOT.1.BS.M'
2. Druga - pytania o wielkość zamówień. Tu sekwencja jest następująca: 'TOT.2.BS.M'

Potrzebna będzie funkcja [filter](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.filter.html)

Wyniki zapiszmy do ramek, które nazywać się będą kolejno pytanie1 i pytanie2.

In [ ]:
pytanie1 = confidence_filter.filter(regex='TOT.1.BS.M')
pytanie2 = confidence_filter.filter(regex='TOT.2.BS.M')

pytanie1.head(5)

,INDU.EU.TOT.1.BS.M,INDU.EA.TOT.1.BS.M,INDU.BE.TOT.1.BS.M,INDU.BG.TOT.1.BS.M,INDU.CZ.TOT.1.BS.M,INDU.DK.TOT.1.BS.M,INDU.DE.TOT.1.BS.M,INDU.EE.TOT.1.BS.M,INDU.IE.TOT.1.BS.M,INDU.EL.TOT.1.BS.M,...,INDU.SI.TOT.1.BS.M,INDU.SK.TOT.1.BS.M,INDU.FI.TOT.1.BS.M,INDU.SE.TOT.1.BS.M,INDU.UK.TOT.1.BS.M,INDU.ME.TOT.1.BS.M,INDU.MK.TOT.1.BS.M,INDU.AL.TOT.1.BS.M,INDU.RS.TOT.1.BS.M,INDU.TR.TOT.1.BS.M
2010-01-31,-3.4,-5.2,5.3,-22.2,3.1,1.5,5.2,-0.3,27.3,-11.2,...,3.0,3.0,-0.3,26.4,13.2,NaN,-14.5,NaN,NaN,1.6
2010-02-28,-1.9,-3.1,3.9,-18.8,4.8,-1.9,5.8,2.9,36.6,-8.8,...,9.4,20.1,7.4,30.2,15.6,NaN,-12.6,NaN,NaN,13.0
2010-03-31,1.3,0.1,4.6,-18.7,9.8,0.6,12.6,3.8,39.4,-17.6,...,15.4,30.8,16.7,27.8,4.7,NaN,-15.8,NaN,NaN,8.9
2010-04-30,8.7,8.0,16.0,-13.0,18.4,8.1,21.1,15.3,45.1,-12.4,...,17.7,28.5,17.3,36.2,9.3,NaN,-9.8,NaN,NaN,32.7
2010-05-31,9.5,8.2,8.9,-9.7,22.5,16.8,19.9,19.8,44.5,-15.7,...,13.3,38.7,22.6,46.0,28.8,NaN,-16.6,NaN,NaN,28.1

### Polecenie 4:
Poniżej znajdziecie funkcję, która:
1. Wyciąga z ramki wybraną serię danych po nazwie. Wykorzystamy ją dla ramki ***pytanie1***
2. Robi podobne działanie dla drugiej ramki - u nas będzie to ***pytanie2***
3. Tworzy model regresji liniowej gdzie zmienna z pierwszej ramki jest wyjaśniana przez zmienną z drugiej ramki.
4. Zwraca dwa parametry z równania: stałą i współczynnik przy zmiennej z ramki pytanie2 w postaci słownika.  

O wykorzystaniu regresji możecie poczytać tutaj:
https://realpython.com/linear-regression-in-python/

Oczywiście, ta wiedza nie będzie potrzebna nam do wykonania zadania - naszym celem będzie wykonanie już napisanej funkcji dla poszczególnych elementów listy.

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression

def pobierzParametry(zbior_wyjasniany, nazwa_serii_wyjasnianej,
                     zbior_objasniajacy, nazwa_serii_objasniającej):

  # Zmienia tablice pandas w obiekty numpy, które są wymagane przy pracach z modelami statystycznymi
  y = zbior_wyjasniany[nazwa_serii_wyjasnianej].to_numpy()
  x = zbior_objasniajacy[nazwa_serii_objasniającej].to_numpy()

  # Seria pandas to tablica jednowymiarowa - w regresji liniowej konieczne jest jej przekształcenie do 2D
  # Robią to te linijki kodu:
  y	= y.reshape(-1, 1)
  x = x.reshape(-1, 1)

  # Dopasowanie modelu
  model = LinearRegression().fit(x, y)

  # Parametry modelu trafiają do słownika
  slownik_parametry = {
      "stala": model.intercept_[0],
      "wspolczynnik": model.coef_[0,0]
  }
  return slownik_parametry

# Przykładowe wywołanie:
parametryPL = pobierzParametry(pytanie1, "INDU.PL.TOT.1.BS.M", pytanie2, "INDU.PL.TOT.2.BS.M")
print(parametryPL)

{'stala': 27.22874781751197, 'wspolczynnik': 0.6781627023669453}

Wywołaj funkcję dla pięciu krajów zapisanych na liście.
*    Potrzebujemy dynamicznie tworzyć nazwy zmiennych, które przekazywać będziemy do funkcji
*   Jako wynik chcemy uzyskać krotkę w której pierwszym elementem byłby skrót krajów z listy *kraje_do_sprawdzenia*, a drugim elementem słownik parametrów uzyskany z funkcji.

Pytanie: W którym kraju współczynnik jest największy?

In [ ]:
kraje_do_sprawdzenia = ["PL", "CZ", "SK", "DE","HU"]

wynik = []
for i in kraje_do_sprawdzenia:
  wyjasniana = "INDU." + i + ".TOT.1.BS.M"
  wyjasniajaca = "INDU." + i + ".TOT.2.BS.M"
  parametry = pobierzParametry(pytanie1, wyjasniana, pytanie2, wyjasniajaca)

  wynik.append((i, parametry))

print(wynik)

[('PL', {'stala': 27.22874781751197, 'wspolczynnik': 0.6781627023669453}), ('CZ', {'stala': 11.125021326248646, 'wspolczynnik': 0.996969961547537}), ('SK', {'stala': 15.76050864676895, 'wspolczynnik': 0.6028126428408759}), ('DE', {'stala': 5.32588365254379, 'wspolczynnik': 0.2855080922493418}), ('HU', {'stala': 6.265068271149808, 'wspolczynnik': 0.776072039581349})]